@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== FULLCALENDAR CUSTOM APGE STYLE ===== */

.fc {
  font-family: inherit;
}

/* Toolbar */
.fc-toolbar {
  margin-bottom: 1.5rem !important;
   display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fc-toolbar-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #0f172a;
}

/* Botones */
.fc-button {
  background: #0f172a !important;
  border: none !important;
  border-radius: 1rem !important;
  font-weight: 800 !important;
  font-size: 10px !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.6rem 1rem !important;
  box-shadow: 0 6px 12px rgba(0,0,0,0.05);
}

.fc-button:hover {
  background: #00995c !important;
}

.fc-button-active {
  background: #00995c !important;
}

/* Grid */
.fc-scrollgrid {
  overflow: hidden !important;
  border: 1px solid #f1f5f9 !important;
}

/* Cabecera días */
.fc-col-header-cell {
  background: #f8fafc;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #64748b;
  padding: 12px 0 !important;
}

/* Eventos */
.fc-event {
  background-color: #0f172a !important;
  color: white !important;
  border: none !important;
  border: none !important;
  border-radius: 1rem !important;
  font-size: 10px !important;
  font-weight: 800 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 6px !important;
  box-shadow: 0 8px 15px rgba(0,0,0,0.08);
}

/* Hoy */
.fc-day-today {
  background: #fff7ed !important;
}

/* Espaciado entre grupos */
.fc-toolbar-chunk {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

/* Separar botones dentro del mismo grupo */
.fc-button-group {
  display: flex !important;
  gap: 0.5rem !important;
}

/* Quitar borde pegado que FullCalendar aplica */
.fc-button-group .fc-button {
  border-radius: 1rem !important;
}
